<% layout('layout/boilerplate') %>

<h1>Welcome <%= currentUser.name %></h1>
<p><%= currentUser.id %></p>
<p><%= post.author.id%></p>
<h3>Your posts: </h3>

            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <img src="<%=post.image%>" width="100%" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title"><%=post.title%></h4>
                            <p class="card-text"><%=post.description%></p>
                            <a class="btn btn-primary" href="/posts/<%=post._id%>">See here</a>
                        </div>
                    </div>
                </div>
            </div>