<% layout('layout/boilerplate') %>

<div class="row mb-5">
    <div class="col-6">
        <div class="card">
            <img src="<%=posts.image%>" class="card-img-top" alt="...">
            <div class="card-body">
                <h4><%= posts.author.name %></h4>
                <h5 class="card-title"><%= posts.title %></h5>
                <p class="card-text"><%= posts.description %></p>
            </div>
            <ul class="list-group list-group-flush">
            </ul>
            <div class="card-body">
                <a href="/posts" class="btn btn-primary">All posts</a>
                <% if(currentUser && posts.author.equals(currentUser._id)){%>
                <a href="/posts/<%=posts._id%>/update" class="btn btn-warning">Update</a>
                <form class="d-inline" action="/posts/<%=posts._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
                <%}%>
            </div>
            <div class="card-footer text-muted">
                <p><%=posts._id.getTimestamp()%></p>
            </div>
          </div>
          
          <div class="mb-3 mt-3">
            <button class="btn btn-success"><i class="fa-solid fa-thumbs-up"></i></button>
            <button class="btn btn-danger"><i class="fa-solid fa-thumbs-down"></i></button>
          </div>

    </div>
    <div class="col-6">
        <% if(currentUser) {%>
        <h4>What do you think about <%= posts.author.name %>'s post?</h4>
        <form action="/posts/<%=posts._id%>/review" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="body">Comment bellow</label>
                <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>
            <button class="btn btn-success">Comment</button>
        </form>
        <% } %>

        <%for(let review of posts.reviews){%>
            <div class="mb-3 mt-3 card">
                <div class="card-body">
                    <b class="text-muted">By <%= review.author.name %></b>
                    <p><%=review.body%></p>
                    <% if(currentUser && review.author.equals(currentUser._id)){%>
                    <form action="/posts/<%=posts._id%>/review/<%=review._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                    <% }%>
                </div>
            </div>
        <%}%>
    </div>
</div>
